.right-aside-section{
    position: relative;
}

.fixed-right-aside-section{
    position: fixed;
    height : 95vh;
    width : 28rem;
    padding : 0.8rem;
}

.search-bar-input{
    padding : 1rem 1.2rem;
    font-family: var(--component-heading-font);
    outline: none;
    border-radius: 3rem;
    border : 3px solid var(--post-color);
}