.password-field-container{
    width : 30rem;
}

.input-field{
    padding : 0.5rem;
    font-family: var(--component-heading-font);
    outline : none;
}

.password-flex-grow{
    flex-grow: 1;
}


.input-field-icon-container-height{
    height : 100%;
}

.input-field-icon{
    font-size: 15px;
    padding : 0 0.8rem;
}