.aside-section{
    position:relative;
}

.aside-section-fixed{
    position: fixed;
    height : 98vh;
    width : 20rem;
}

.nav-item{
    padding : 0.5rem 1.5rem;
    border-radius: 3rem;
    font-size : 2rem;
}

.nav-item:hover{
    background-color : var(--post-color);
}

.new-post-btn{
    padding : 1.3rem 2rem;
    font-family: var(--component-heading-font);
    border-radius: 3rem;
    font-size : 1.6rem;
    background-color: var(--btn-color);
    border : none;
    outline : none;
}

.new-post-btn:hover{
    background-color: #ffee01d7;
}